body  



 {
  margin: 40px;
}

.wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: repeat(4, [col] 450px ) ;
        grid-template-rows: repeat(3, [row] 300px  );
        background-color: #fff;     
        color: #444;
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

    }

  .a {
        grid-column: col / span 2;
        grid-row: row ;
    }
    .b {
        grid-column: col 3 / span 2 ;
        grid-row: row ;
    }
    .c {
        grid-column: col ;
        grid-row: row 2 ;
    }
    .d {
        grid-column: col 2 / span 3 ;
        grid-row: row 2 ;
    }

    .e {

        grid-column: col / span 4;
        grid-row: row 3; 
    }


div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 100px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
   
} background-image: url("");
    background-color: #cccccc;

<div class="scrollmenu">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="#support">Support</a>
  <a href="#blog">Blog</a> 
  <a href="#tools">Tools</a>  
  <a href="#base">Base</a>
  <a href="#custom">Custom</a>
  <a href="#more">More</a>
  <a href="#logo">Logo</a>
  <a href="#friends">Friends</a>
  <a href="#partners">Partners</a>
  <a href="#people">People</a>
  <a href="#work">Work</a>
</div>   





a:hover{color:#e5efff;}  
